.Github-link, 
.Github-link-2 {
    color: black !important;

}

.Github-link-2:hover,
.btn:hover {
    text-decoration-color: rgb(110, 117, 124);
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.Github-link {
    text-align: center;
}

.Github-link svg,
.Github-link h1 {
    margin: 0 auto;
}

.about-link {
    color: rgb(172, 0, 51) !important;
}

.pricing8 .btn-info-gradiant, .pricing8 .btn-danger-gradiant {
    background: rgb(172, 0, 51);
}

.card:hover { /* to make the card responsive when you hover over it */
    transform: scale(1.05); 
    transition: transform 0.3s ease-in-out; 
}