.Github-link, 
.Github-link-2 {
    color: black !important;

}

.Github-link-2:hover,
.btn:hover {
    text-decoration-color: rgb(110, 117, 124);
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.Github-link {
    text-align: center;
    /* Centra orizzontalmente il contenuto */
}

.Github-link svg,
.Github-link h1 {
    margin: 0 auto;
    /* Centra l'SVG e l'h1 all'interno dell'elemento .Github-link */
}

.pricing8 .btn-info-gradiant, .pricing8 .btn-danger-gradiant {
    background: rgb(172, 0, 51);
}

.frontend,
.backend {
    justify-content: center;
    text-align: left;
}