{% extends 'base.html' %}

{% block title %} About the Project {% endblock %}

{% block content %}
    <style>
        .horizontal-list {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap; /* Allows the list items to wrap onto the next line if they don't fit */
        gap: 20px;
        justify-content: center; /* Centers the items when they take up less space than the full width */
        }

        .horizontal-list li {
        margin: 0; /* Adjust if you want some space around each card */
        }

        .card {
        flex: 1; /* Each card can grow and shrink as needed */
        min-width: 250px; /* Minimum width of each card */
        max-width: 18rem; /* Maximum width of each card */
        margin: 10px; /* Optional: if you want space around the cards */
        }

        @media (max-width: 700px) {
        .card {
        max-width: none; /* Allows the cards to fill the container on smaller screens */
        flex: 1 1 auto; /* Adds flexibility to the card width */
        }
        }

    </style>

<div>
    <ul class="horizontal-list">
        <li>
            <div class="col-lg-4 col-md-6">
                <!-- Team Member 1: Andrea Bernardo -->
                <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden">
                    <img class="card-img-top" src="../static/fotoandreabernardo.jpeg" alt="Team Member 1">
                    <div class="card-body">
                        <h5 class="card-title">Bernardo Andrea</h5>
                        <p class="card-text"> <a class="about-link link-dark" href="https://www.linkedin.com/in/ab2003-andrea-bernardo/" target="_blank" title="LinkedIn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-linkedin"
                                viewBox="0 0 16 16">
                                <path
                                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z" />
                            </svg>
                            </a>- 894305</p>                        
                    </div>
        </li>
        <li>
            <div class="col-lg-4 col-md-6">
                <!-- Team Member 2: Gnoni Antonio -->
                <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden">
                    <img class="card-img-top" src="../static/fotoandreabernardo.jpeg" alt="Team Member 1">
                    <div class="card-body">
                        <h5 class="card-title">Gnoni Antonio</h5>
                        <p class="card-text"> <a class="about-link link-dark" href="https://www.linkedin.com/in/antonio-gnoni-mavarelli/" target="_blank" title="LinkedIn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-linkedin"
                                viewBox="0 0 16 16">
                                <path
                                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z" />
                            </svg>
                            </a>- Matricola N.</p>                        
                    </div>
        <li>
        <li>
            <div class="col-lg-4 col-md-6">
                <!-- Team Member 3: Griselin Marta -->
                <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden">
                    <img class="card-img-top" src="../static/fotoandreabernardo.jpeg" alt="Team Member 1">
                    <div class="card-body">
                        <h5 class="card-title">Griselin Marta</h5>
                        <p class="card-text"> <a class="about-link link-dark" href="https://www.linkedin.com/in/marta-griselin-ba876325a/" target="_blank" title="LinkedIn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-linkedin"
                                viewBox="0 0 16 16">
                                <path
                                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z" />
                            </svg>
                            </a>- Matricola N.</p>                        
                    </div>
        <li>
        <li>
            <div class="col-lg-4 col-md-6">
                <!-- Team Member 4: Piscopello Francesco -->
                <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden">
                    <img class="card-img-top" src="../static/fotoandreabernardo.jpeg" alt="Team Member 1">
                    <div class="card-body">
                        <h5 class="card-title">Piscopello Francesco</h5>
                        <p class="card-text"> <a class="about-link link-dark" href="https://www.linkedin.com/in/francescopiscopello/" target="_blank" title="LinkedIn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-linkedin"
                                viewBox="0 0 16 16">
                                <path
                                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z" />
                            </svg>
                            </a>- Matricola N.</p>                        
                    </div>
        </li>
        <li>
            <div class="col-lg-4 col-md-6">
                <!-- Team Member 4: Sartori Carlo Alberto -->
                <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden">
                    <img class="card-img-top" src="../static/fotoandreabernardo.jpeg" alt="Team Member 1">
                    <div class="card-body">
                        <h5 class="card-title">Sartori Carlo Alberto</h5>
                        <p class="card-text"> <a class="about-link link-dark" href="https://www.linkedin.com/in/carlo-alberto-sartori-79a048292" target="_blank" title="LinkedIn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-linkedin"
                                viewBox="0 0 16 16">
                                <path
                                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z" />
                            </svg>
                            </a>- 894176</p>                        
                    </div>
        </li>
<div>




    <main>
        <h1>About</h1>
        <p>This is the file structure of our repo.</p>
        <p>Lorem Ipsum</p>
        
        <div class="file-structure-container">
            <div class="file-structure">
                <h2>Backend</h2>
                <!--  backend -->
                <ul>
                    <!--  backend -->
                </ul>
            </div>

            <div class="file-structure">
                <h2>Frontend</h2>
                <!-- Add the frontend files here -->
                <ul>
                    <!-- List items for frontend files -->
                </ul>
            </div>
        </div>
        
        <section class="bug-story">
            <h2>Tlore ipsum</h2>
            <p>lore ipsum</p>
        </section>
    </main>

        <h2>Assumptions</h2>
        <!-- Linserire qui -->
        <ul>
            <li>Assumption</li>
        
        </ul>

        <h2>Most Important Concepts:</h2>
        <!-- List your concepts here -->
    </div>


{% endblock %}
