{% extends 'base.html' %}

{% block title %} Calendar {% endblock %}


{% block content %}
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>

    <div class="container mt-5">
        <p>The calendar database was last updated at: {{ datatime_csv.datatime }}</p>

        <!-- WTForms Form to get input from the user -->
        <form method="POST">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.cycle.label }}
                        {{ form.cycle(class="form-control") }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.degreetype.label }}
                        {{ form.degreetype(class="form-control") }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.credits.label }}
                        {{ form.credits(class="form-control") }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.location.label }}
                        {{ form.location(class="form-control") }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.teaching.label }}
                        {{ form.teaching(class="form-control") }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </div>
            </div>
        </form>

    <!-- Calendar container -->
    <div id='calendar' class='mt-3'></div>
    <br>
    <br>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            alert("JavaScript is loaded!");
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                eventClick: function (info) {
                    info.jsEvent.preventDefault(); // Don't let the browser navigate
                    if (info.event.url) {
                        window.open(info.event.url, '_blank');
                    }
                }
            });
            calendar.render();

            // Attach an event handler for form submission
            document.getElementById('query-form').addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent actual form submission
                var teaching = document.querySelector("[name='teaching']").value;
                var location_str = Array.from(document.querySelectorAll("[name='location']:checked")).map(el => el.value).join(","); // ora è drop
                var degreetype_str = Array.from(document.querySelectorAll("[name='degreetype']:checked")).map(el => el.value).join(",");
                // var credits = 

                var url = `/query/${teaching}/${location_str}/${degreetype_str}`; // update questa
                fetch(url)
                    .then(response => response.json())
                    .then(result => {
                        calendar.removeAllEvents(); // Clear existing events
                        calendar.addEventSource(result); // Add new data
                    })
                    .catch(error => console.error('Error loading the calendar data:', error));
            });
        });
    </script>

    <!-- Bottone Export in iCal -->
    <button>
        <a href="{{ url_for('export_ics') }}">Export in iCal</a>
    </button>
{% endblock %}
